.Wrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: var(--spacing-1);
  align-items: center;
  border-bottom: 2px solid var(--color-highlight);
}

.Link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: large;
  font-weight: bold;
}

.Link:hover {
  color: var(--color-highlight);
  cursor: pointer;
}

.SearchWrapper {
  width: 36%;
  position: relative;
}

.SearchIcon {
  position: absolute;
  box-sizing:border-box;
  top:50%;
  right:0px;
  transform: translateY(-50%);
}

.SearchIcon:hover {
  cursor: pointer;
  color: var(--color-highlight);
}


.SearchBox {
  border: 1px solid lightgray;
  border-radius: 8px;
  height: 40px;
  width: 100%;
  padding: 0 10px;
}

.SearchBox:focus {
  outline: none;
}

.ButtonsWrapper {
  color: var(--secondary-color);
  display: flex;
  margin-right: 8px;
}

.IconButtom {
  color: var(--secondary-color);
}

.IconButtom:hover {
  cursor: pointer;
  color: var(--color-highlight);
}

.IconButtom:nth-child(odd) {
  margin-right: 8px;
}
